.all {
    font-family: Arial, Helvetica, sans-serif;
}

.headerall {
    background-color: lightgoldenrodyellow;
    color: dodgerblue;
    font-size: xx-large;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    padding-right: 200px;  
}

header {
    font-size: 10em;
    font-weight: bolder;
}
.underimg {
    padding:100px;
    font-size:4em
}
.container {
    width: 80%;
    height: 40vw;
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightgoldenrodyellow;
    align-content: center;
}
.container img {
    width: 100%;
    height: 750px;
    padding: 50px;
    border-color: ghostwhite;
    
}
.logo {
    border-radius: 15%;
    float:right;
    float:top;
    margin:1vw,2vw,1vw,2vw;
    width: 15%;
    height:15%;

}
ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}
.navbar li {
    display: inline;
}
.navbar {
    background-color: lightgoldenrodyellow;
    overflow:hidden;
    color:dodgerblue;
    margin: auto;
    float: left;
   
}
.navbar a {
    color: dodgerblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}
.navbar a:hover {
    background-color: lightgrey;
    color:orange
}
.navbar a.active{
    background-color: dodgerblue;
    color: white;
}
body{
    background-color: lightgoldenrodyellow;
    min-height: fit-content;
    clear: both;
    padding-bottom: 800px;

}
h1 {
    color:dodgerblue;
    background-color: lightgoldenrodyellow;
    text-align: center;
}
.flex-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: dodgerblue;
    height: 600px; 
}
.flex-container > div {
    font-weight: bold;
    background-color: whitesmoke;
    width: 27%;
    text-align: center;
    color:white;
    margin: auto;
    height: 500px;
    float: bottom;
}
.flex-container p{
    color:black;
    text-align: center;
}
.flex-containerserv {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: dodgerblue;
    height:85vw; 
    
}
.flex-containerserv h3 {
    text-overflow: wrap;
    margin: 1vw 2vw 1vw 2vw
}
.flex-containerserv p {
    font-weight: bold;
    background-color: orange;
    width: 20vw;
    text-align: center;
    color:white;
    height: 6vw;
    text-justify: center;
    float:bottom;
    margin:auto
}
.flex-containerserv > div {
    background-color:whitesmoke;
    width: 27%;
    height: 80vw;
    margin: 1vw;
    text-align: center;
    text-overflow: wrap;
    line-height: 4vw;
    font-size: 1em;
}
*{box-sizing: border-box;}
.column {
    float: left;
    width: 33.3%;
    padding: 150px;
    height: 850px;
    clear: bottom;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
h2 {
    text-align: center;
    color: dodgerblue;
}
h3 {
    text-align: center;
    color: orange
}
.column p {
    text-align: center;
    color: black;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7vw;
    background-color:dodgerblue;
    color: white;
    text-align: center;
    font-size: small;
}
.service{
    color:dodgerblue;
    font-size: 24px;
    margin-left: 10%;
    margin-right:10%;
    padding: 10px;
}
.pageh1{
    text-align: center;
    font-size: 4em;
    color: orange;
}
p {
    color: orange;
    font-size: 1em;
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
}
.budget {
    width:25vw;
    height:25vl;
    padding: 10px;
    margin-right: 5%;
}
.bullets li {
    list-style-type:disc;
    font-size: 1em;
}
.paublo img {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
    
}
.paublo {
    padding-bottom: 5px;
    clear: both;
   
}
.paublo h2 {
    float:left;
    clear: right;
    padding-right: 3vw;

}
.mb h2 {
    float:left;
    clear: right;
    padding-right: 3vw;

}

.mike h2 {
    float:left;
    clear: right;
    padding-right: 3vw;

}

.mb img{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 25px;

}
.mb {
    padding:5px;
    clear: both;

}
.mike img {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.mike  {
    padding:5px;
    clear: both;
}
input[type=text] {
    width: 25%;
    padding: 12px;
    border: 3px solid black;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
    align-items: center;
}

input[type=email] {
    width: 25%;
    padding: 12px;
    border: 3px solid black;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
    align-items: center;
}
input[type=number] {
    width: 25%;
    padding: 12px;
    border: 3px solid black;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
    align-items: center;
}
.formcontainer {
    border-radius: 10px;
    background-color: dodgerblue;
    color:white;
    padding:10px;

}
select {
    width: 25%;
    padding: 12px;
    border: 3px solid black;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
    align-items: center;
}
.intro {
    text-align: left;
    font-size: 20px;
}
.carousel-inner .item img {
    width: 20vw;
    height: 20vw;
    margin: 10% 10% 10% 10%;
}
.carousel-inner p {
    text-align: center;
}
.team {
    justify-content: left;

}
