.headerall {
    background-color: lightgoldenrodyellow;
    color: dodgerblue;
    font-size: xx-large;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    padding-right: 200px;  
}
header {
    font-size: 8em;
    font-weight: bolder;
}
.underimg {
    padding:100px;
    font-size:4em
}
.container {
    width: 90vw;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgoldenrodyellow;
}
.container img {
    width: 100%;
    height: 750px;
    padding: 50px;
    border-color: ghostwhite;
    
}
.logo {
    border-radius: 25%;
    float:right;
    float:top;
    margin:5px,5px,30px,20px

}
ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}
.navbar li {
    display: inline;
}
.navbar {
    background-color: lightgoldenrodyellow;
    overflow:hidden;
    color:dodgerblue;
    margin: auto;
    float: left;
   
}
.navbar a {
    color: dodgerblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.navbar a:hover {
    background-color: lightgrey;
    color:orange
}
.navbar a.active{
    background-color: dodgerblue;
    color: white;
}
body{
    background-color: lightgoldenrodyellow;
    min-height: fit-content;
    clear: both;
    padding-bottom: 800px;

}
h1 {
    color:dodgerblue;
    background-color: lightgoldenrodyellow;
    text-align: center;
}
*{box-sizing: border-box;}
.column {
    float: left;
    width: 33.3%;
    padding: 150px;
    height: 700px;
    clear: bottom;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
h2 {
    text-align: center;
    color: dodgerblue;
}
h3 {
    text-align: center;
    color: orange
}
.column p {
    text-align: center;
    color: black;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color:dodgerblue;
    color: white;
    text-align: center;
    font-size: xx-large;
}
.service{
    color:dodgerblue;
    font-size: 3em;
}
p {
    color: orange;
    font-size: 1em;
    text-align: left;
    margin-right: 20%;
    margin-left: 20%;
}
.budget {
    width:25vw;
    height:25vl;
    padding: 10px;
    margin-right: 5%;
}
.bullets li {
    list-style-type:disc;
    font-size: 24px;
}
.paublo img {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
    
}
.paublo {
    padding-bottom: 5px;
    clear: both;
   
}

.mb img{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 25px;

}
.mb {
    padding:5px;
    clear: both;

}
.mike img {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.mike  {
    padding:5px;
    clear: both;
}
input[type=text] {
    width: 25%;
    padding: 12px;
    border: 3px solid black;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
}

input[type=email] {
    width: 25%;
    padding: 12px;
    border: 3px solid black;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
}
input[type=number] {
    width: 25%;
    padding: 12px;
    border: 3px solid black;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
}
.formcontainer {
    border-radius: 10px;
    background-color: dodgerblue;
    color:white;
    padding:10px

}
option[type=value] {
    width: 25%;
    padding: 12px;
    border: 3px solid black;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
}
